</div>
</div>
<footer class="footer">
  <!-- <nav class="nav"> -->
  <!--   <button class="nav-buttons" id="prev">←</button> -->
  <!--   <button class="nav-buttons" id="next">→</button> -->
  <!-- </nav> -->

</footer>
</main>
</div>
</body>
<script src="../js/slide.js"></script>
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      //import mermaid from 'js/mermaid.esm.min.mjs';
      mermaid.initialize({startOnLoad:true,theme:'dark',securityLevel:'loose',fontSize:14,fontFamily:'"IBM Plex Mono", "Roboto Mono","Cascadia Code","Ubuntu Mono",monospace'});
    </script>
</html>
