</section>
<!-- Footer -->
<footer id="footer">
    <ul class="icons">
	<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" class="fixed"></a>
	<a href="https://templated.co">Design: Templated</a></p>
    <!-- <p>Giovanni Marelli</p> -->

</footer>

			</div>

			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
