<!DOCTYPE HTML>
<html>
    <head>
	<title>scritti copiosi</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="pensieri e memorie">
	<meta name="keywords" content="scritti, pensieri">
	<meta name="author" content="Giovanni Marelli">
	<link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
	<!-- Header -->
	<header id="header" class="alt">
	    <div class="inner">
		<a href="../index.html"> <h1>Scritti Copiosi</h1> </a>
		<p>Raccolta di pensieri e memorie</p>
	    </div>
	</header>
	<!-- Wrapper -->
	<div id="wrapper">
	    <!-- Main -->
	    <section id="main" class="main">
